numpy~=1.20.3
matplotlib~=3.3.4
torch~=2.3.1
multipledispatch~=0.6.0
einops~=0.7.0
pyglet~=1.5.27
multiagent~=0.0.1
scipy~=1.4.1
ipdb~=0.13.13
gym~=0.10.5
six~=1.15.0
torchvision~=0.17.2
tqdm~=4.59.0
pandas~=1.2.4
qpsolvers~=1.6.1
seaborn~=0.11.1